<div mat-dialog-content class="container">
  <div *ngIf="isRegistration && !(isError$ | async) && !(isRegisteredSuccess$ | async)" class="regist-form">
    <p>Введите данные для регистрации.</p>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Имя" [(ngModel)]="data.firstName" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Фамилия" [(ngModel)]="data.lastName" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Почта" [(ngModel)]="data.email" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type="password" placeholder="Пароль" [(ngModel)]="data.password" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type="password" placeholder="Пароль повторно" [(ngModel)]="data.passwordAgain" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Телефонный номер" [(ngModel)]="data.phoneNumber" required>
    </mat-form-field>
    <div mat-dialog-actions class="button-actions">
      <button mat-stroked-button color="accent" (click)="registerUser()">Зарегистрироваться</button>
      <button mat-stroked-button color="secondary" (click)="toggleType()">Назад</button>
    </div>
  </div>

  <div *ngIf="(isRegisteredSuccess$ | async) && isRegistration && !(isError$ | async)">
    <div>
      Поздравляем. Вы были успешно зарегистрированы в Wondervegan.
    </div>
    <div>
      Вам было отправлено письмо для подтверждения на почту {{ data.email }}.
    </div>
    <div mat-dialog-actions class="button-actions">
      <button mat-stroked-button [mat-dialog-close]="" color="accent">Закрыть</button>
    </div>
  </div>

  <div *ngIf="(isError$ | async) && isRegistration">
    Упс. Something went wrong.
    <div mat-dialog-actions class="button-actions">
      <button mat-stroked-button color="accent" (click)="tryAgain()">Попробовать еще раз</button>
    </div>
  </div>

  <div *ngIf="!isRegistration" class="regist-form">
    <p>Введите ваш логин и пароль.</p>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Почта" [(ngModel)]="data.email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Пароль" type="password" [(ngModel)]="data.password">
    </mat-form-field>
    <div mat-dialog-actions class="button-actions">
      <button mat-button mat-stroked-button (click)="login()">ОК</button>
      <button mat-button mat-stroked-button (click)="toggleType()">Регистрация</button>
    </div>
  </div>
  <ngx-loading [show]="isLoading$ | async" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</div>