.container {
  display: flex;
  flex-direction: column;
}

.button-actions {
  display: flex;
  justify-content: space-between;
}

.button-container {
  display: flex;
}

.regist-form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  padding-bottom: 20px;
}