<div class="container" *ngIf="(goods$ | async); let goods">
  <div *ngFor="let good of goods">
    <app-product-purchase (remove)="remove($event)" (decrease)="decrease($event)" (increase)="increase($event)" [data]="good"></app-product-purchase>
  </div>
  <div *ngIf="!goods.length" class="empty">Cart is empty</div>
  <button *ngIf="goods.length" mat-stroked-button>Перейти к покупке</button>
</div>