<div>
  <mat-list>
    <h3 mat-subheader>Профиль</h3>
    <button mat-menu-item>Информация</button>
    <button mat-menu-item>Мои Заказы</button>
    <button mat-menu-item>Выход</button>
  </mat-list>
</div>