.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
}

.slider-container {
  display: flex;
}

.form-values {
  width: 45%;
}

.section {
  margin-right: 5%;
}

.mat-slider-horizontal {
  width: 100%;
}


