<h2 class="example-h2">Цена(грн)</h2>

<section class="example-section">
  <mat-form-field class="form-values section">
    <input matInput placeholder="От" [(ngModel)]="valueStart" (change)="handleMinChange($event)">
  </mat-form-field>
  <mat-form-field class="form-values">
    <input matInput placeholder="До" [(ngModel)]="valueEnd" (change)="handleMaxChange($event)">
  </mat-form-field>
</section>

<nouislider #mrangeslider [config]="config" [min]="min" [max]="max" (ngModelChange)="onChange($event)" [(ngModel)]="range"
  [step]="1" (end)="onChangeEnd($event)"></nouislider>