<div class="wrapper" *ngIf="product">
  <div class="title">Название</div>
  {{ product.name }}
  <div class="title">Цена</div>
  {{ product.price }}
  <div class="title">Описание</div>
  {{ product.description }}
  <div class="title">Производитель</div>
  {{ product.manufacturer }}
</div>