<div class="link-container">
  <a [routerLink]="['/goods']">
    Категории
  </a>
</div>
<div class="pag-container">
  <mat-form-field class="select">
    <mat-label>Сортировать</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="selectionChange($event)">
      <mat-option *ngFor="let option of options" [value]="option.id">
        {{option.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-paginator [length]="total" [pageSize]="pageSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageEvent = paginatorChange.emit($event)">
  </mat-paginator>
</div>
<mat-grid-list cols="4">
  <mat-grid-tile *ngFor="let product of products">
    <div class="col" (click)="selectProduct.emit(product.productId)">
      <div>
        {{product.price}}
      </div>
      <div>
        {{product.name}}
      </div>
      <div>
        {{product.manufacturer}}
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>