.container {
  margin-top: 20px;
  width: 100%;
  margin-right: 20px;
}

.temp {
  background: red;
}

.col {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.select {
  width: 250px;
}

.pag-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-container {
  display: flex;
  justify-content: center;
}