<mat-grid-list cols="4">
  <mat-grid-tile *ngFor="let category of categories" (click)="selected.emit(category)">
    <mat-card class="card">
      <mat-card-title>
        <div class="container">{{category.category}}</div>
      </mat-card-title>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>