<div class="links">
  <div>
    <a [routerLink]="['/goods']">
      Категории
    </a>
  </div>
  <span>/</span>
  <div>
    <a [routerLink]="[previousLink]">
      Товары
    </a>
  </div>
</div>
<mat-card *ngIf="(product$ | async); let product" class="container">
  <img class="img__container" src="{{product.imageUrl}}" />
  <div>
    <div class="rating">
      <bar-rating [(rate)]="rate" [max]="5" [theme]="'stars'"></bar-rating>
    </div>
    <div class="btn">
      <button mat-stroked-button color="accent" (click)="onClickBuy(product)">
        Купить
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
<div class="wrapper">
  <mat-tab-group class="tab" mat-align-tabs="center" animationDuration="2000ms">
    <mat-tab label="Описание">
      <app-product-description [product]="product$ | async">
      </app-product-description>
    </mat-tab>
    <mat-tab label="Отзывы">
      <div>Отзывы</div>
    </mat-tab>
    <mat-tab label="Рецепты">
      <div>Рецепты</div>
    </mat-tab>
  </mat-tab-group>
</div>