.container {
  display: flex;
  margin: 25px;
}

.img__container {
  width: 300px;
  height: 300px;
}

.tab {
  width: 80%;
}

.wrapper {
  justify-content: center;
  display: flex;
}

.links {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 12px;
  color: #999;
  text-decoration: none;
}

.links > div {
  margin-left: 5px;
  margin-right: 5px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating {
  justify-content: flex-end;
  display: flex;
  flex-direction: column
}