<div class="container">
  <header>
    <ui-toolbar [title]="title"></ui-toolbar>
    <div>
      <nav mat-tab-nav-bar mat-align-tabs="center">
        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
          <span class="tabs">
            <mat-icon>{{link.icon}}</mat-icon>
            <span class="label">{{link.label}}</span>
          </span>
        </a>
      </nav>
    </div>
  </header>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

  <div>
    <app-footer></app-footer>
  </div>

</div>