.toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.helpers {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.search {
    justify-content: flex-end;
}

.form {
    margin-right: 50px;
    min-width: 150px;
    max-width: 500px;
    width: 200px;
    margin-top: 10px;
}

.toolbar {
    font: 500 17px Roboto, "Helvetica Neue", sans-serif;
}

.logged__in {
    display: flex;
    align-items: center;
}

.logged__in__cont {
    margin-right: 10px;
}

.cdk-overlay-container{
    left:200px;
    top:200px;
}
.cdk-overlay-connected-position-bounding-box{
    top:0 !important;

}