<mat-toolbar color="primary" class="toolbar">
  <div class="toolbar">
    <div class="helpers">
      <span>
        <img src="assets/logo.png" alt="Logo">
      </span>
      <span>
        {{title}}
      </span>
      <button mat-raised-button (click)="openDialog()" *ngIf="!(isLoggedIn$ | async)">Личный Кабинет</button>
      <div *ngIf="(isLoggedIn$ | async) && (loggedInUser$ | async)" class="logged__in">
        <div class="logged__in__cont">Привет, {{(loggedInUser$ | async)?.firstName}}</div>
        <div>
            <button mat-button [matMenuTriggerFor]="menu">Профиль</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/profile']">Профиль</button>
              <button mat-menu-item>Мои заказы</button>
              <button mat-menu-item (click)="logOut()">Выход</button>
            </mat-menu>
        </div>
      </div>
    </div>
    <div class="helpers search">
      <mat-form-field class="form">
        <input matInput type="text" placeholder="Search..">
        <button mat-button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-icon-button color="accent" (click)="openBottomSheet()">
        <mat-icon *ngIf="(cart$ | async) > 0" matBadge="{{cart$ | async}}" matBadgePosition="after" matBadgeColor="warn">shopping_cart</mat-icon>
        <mat-icon *ngIf="(cart$ | async) <= 0">shopping_cart</mat-icon>
      </button>

    </div>
  </div>
</mat-toolbar>