
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~nouislider/distribute/nouislider.min.css";
@import '~ngx-bar-rating/themes/br-stars-theme';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wondervegan-primary: mat-palette($mat-blue-grey, 800);
$wondervegan-accent: mat-palette($mat-green, A700);

// The warn palette is optional (defaults to red).
$wondervegan-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wondervegan-theme: mat-light-theme($wondervegan-primary, $wondervegan-accent, $wondervegan-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($wondervegan-theme);

/* You can add global styles to this file, and also import other style files */

.noUi-connects {
	background: #337ab7;
}

.noUi-horizontal {
    height: 5px;
}

.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 10px;
    top: -4px;
}

.noUi-handle:before {
    height: 0px;
}

.noUi-handle:after {
    height: 0px;
}

.noUi-connects {
    background: grey;
}

html, body { height: 100%; }
body {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow: hidden;
    max-height: 100vh;
    padding: 0;
    margin: 0
}
