.image-temp {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

::ng-deep .snackbar__styles {
    background: #fff;
    height: 200px;
    width: 200px;
    position: fixed;
    bottom: 40%;
    left: 40%;
    color: grey;
    margin: 0;
}

::ng-deep .snackbar__styles .mat-simple-snackbar {
    justify-content: space-around;
    flex-direction: column;
}

::ng-deep .snackbar__styles .mat-simple-snackbar > span{
    text-align: center;
}

::ng-deep .snackbar__styles .mat-simple-snackbar-action {
    margin: 0;
}