<div class="container">
  <mat-grid-list cols="1" rowHeight="3:1">
    <mat-grid-tile>
      <img class="image-temp"
        src="https://familydoctor.org/wp-content/uploads/2011/09/shutterstock_413417941-705x468.jpg" />
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="image-temp"
        src="https://familydoctor.org/wp-content/uploads/2011/09/shutterstock_413417941-705x468.jpg" />
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="image-temp"
        src="https://familydoctor.org/wp-content/uploads/2011/09/shutterstock_413417941-705x468.jpg" />
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="image-temp"
        src="https://familydoctor.org/wp-content/uploads/2011/09/shutterstock_413417941-705x468.jpg" />
    </mat-grid-tile>
  </mat-grid-list>
  <input matInput value="Disco party!" placeholder="Message" #message>
</div>