<div class="wrapper">
  <div class="tree">
    <app-goods-filters
      [filters]="filters$ | async"
      (filtered)="getFilteredProducts($event)"
      [minPrice]="minPrice$ | async"
      [maxPrice]="maxPrice$ | async"
      (priceFilterd)="filterProductsByPrice($event)"
    >
    </app-goods-filters>
  </div>
  <div class="container">
    <app-goods-list
      [products]="products$ | async"
      (paginatorChange)="onChangePage($event)"
      [pageSize]="pageSize"
      [currentPage]="currentPage"
      [total]="total$ | async"
      (selectProduct)="fetchProduct($event)"
      (loadProducts)="getProducts()"
      (onSortProducts)="onSortProducts($event)"
    >
    </app-goods-list>
  </div>
</div>