<mat-card class="root">
  <mat-card-header>
    <mat-card-title>Фильтры</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <slider
      [maxPrice]="maxPrice"
      [minPrice]="minPrice"
      (filterPrice)="filterPrice($event)"
    ></slider>
    <mat-checkbox class="checkbox" *ngFor="let filter of filters" id={{filter.id}} (change)="onChange($event)"
      color="primary">
      {{filter.name}}
    </mat-checkbox>
  </mat-card-content>
</mat-card>