<mat-card *ngIf="data" class="example-card">
  <mat-card-header *ngIf="data.header">
    <mat-card-title *ngIf="data.header.title">{{data.header.title}}</mat-card-title>
    <mat-card-subtitle *ngIf="data.header.subtitle">{{data.header.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="data.img" mat-card-image src="{{data.img}}" alt="img" class="img-cart">
  <mat-card-content>
    {{data.content.description}}
  </mat-card-content>
  <div *ngIf="data.content.count | async; let count">{{count[data.id].count}}</div>
  <div>
    <button (click)="increase.emit(data.id)">+</button>
    <button (click)="decrease.emit(data.id)">-</button>
  </div>
  <mat-card-actions *ngIf="data.actions">
    <button (click)="remove.emit(data)">{{data.actions.name}}</button>
  </mat-card-actions>
</mat-card>